[tool.poetry]
name = "xarray-dataclasses"
version = "0.2.0"
description = "xarray extension for dataarray classes"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/astropenguin/xarray-dataclasses/"
documentation = "https://astropenguin.github.io/xarray-dataclasses/"

[tool.poetry.dependencies]
python = "^3.7"
numpy = "^1.19"
typing-extensions = "^3.7"
xarray = "^0.15"

[tool.poetry.dev-dependencies]
black = "^20.8b"
flake8 = "^3.9"
ipython = "^7.21"
ipykernel = "^5.5"
pydata-sphinx-theme = "^0.4"
pytest = "^6.2"
sphinx = "^3.5"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
