name: PyPI

on:
  release:
    types:
      - created

jobs:
  job:
    name: PyPI
    runs-on: ubuntu-latest
    env:
      POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Publish package to PyPI
        run: pip install poetry && poetry publish --build
